.part3-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.thirdpart{
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
.thirdpart1{
    padding: 1rem;
    border: 1px solid white;
    border-radius: 5px;
}
.thirdpart2{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: #322d2d95;
    color: #fff;
    border-radius: 12px;
}
button{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #fff;
    border-radius: 12px;
}

@media only screen and (max-width:768px){
    .thirdpart2,.thirdpart{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    form{
        margin-top: 10%;
    }
    form input{
        width: 90%;
        font-size: 100%;
    }
    form button{
        width: 90%;
        font-size: 100%;
    }
}